@import "../../styles/general/general.scss";

.PopupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup__form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 440px;
        height: 296px;
        border-radius: 20px;
        padding: 41px 41px 41px 41px;
        background-color: white;
        animation: fadeIn 0.3s ease forwards;

        @media screen and (max-width: $mobile) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding: 0 20px;
            justify-content: flex-start;
        }

        .popup__close-button {
            padding: 0;
            width: 36px;
            height: 36px;
            background-image: url(../../images/icons/close-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            align-self: center;
            margin: 0;
            border: transparent;
            position: absolute;
            top: 35px;
            right: 40px;
            border-radius: 5px;

            @media screen and (max-width: $mobile) {
                top: 80px;
                right: 25px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                opacity: .6;
                cursor: pointer;
            }
        }

        .popup__title {
            @extend %h2;
            padding: 0;
            margin: 0;

            @media screen and (max-width: $mobile) {
                @include text-props(600, 20px, 22px);
                margin: 80px 0 0 0;
                text-align: start;
            }

        }

        .popup__inputs {
            display: flex;
            flex-direction: column;
            margin: 40px 0 0 0;
            gap: 10px;

            @media screen and (max-width: $mobile) {
                margin-top: 20px;
                gap: 0;
            }

            .popup__input {
                padding: 0 0 0 15px;
                width: 423px;
                height: 49px;
                border-radius: 10px;
                @extend %text-general;
                border: 1px #0F0F17 solid;
                margin: 0;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }

                &:focus {
                    outline-color: $bg-color;
                }

                &:focus::placeholder {
                    color: $bg-color;
                }
            }

            .popup__inputWrong {
                border-color: $input-error;
                color: $input-error;

                &::placeholder {
                    color: $input-error;
                }

                &:focus {
                    outline-color: $input-error;
                }
            }
        }

        .popup__error-container {
            height: 10px;
            margin: 0;
            padding: 0;
            display: flex;

            .popup__error {
                color: $input-error;
                padding: 0;
                margin: 0 0 0 30px;
                height: 20px;
                font-size: 10px;
            }
        }

        .popup__checkbox-container {
            display: flex;
            padding: 0;
            margin: 5px 0 0 0;
            align-items: center;

            .popup__custom-checkbox {
                position: relative;
                display: inline-block;
                width: 18px;
                height: 18px;
            }

            .popup__checkbox-caption {
                margin: 0 0 0 10px;
                padding: 0;
                @include text-props(500, 12px, 15.6px);
                letter-spacing: +.2px;

                @media screen and (max-width: $mobile) {
                    text-align: start;
                }
            }

            .popup__custom-checkbox input[type="checkbox"] {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
            }

            .popup__custom-checkbox .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                background-image: url('../../images/icons/checkbox.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .popup__custom-checkbox input[type="checkbox"]:checked+.checkmark {
                background-image: url('../../images/icons/checkbox-active.svg');
            }
        }

        .popup__button-submit {
            display: flex;
            position: relative;
            width: 126px;
            height: 45px;
            margin: 20px 0 0 0;
            padding: 12px 20px;
            color: #0F0F17;
            text-decoration: none;
            @include text-props(520, 16px, 20.8px);
            cursor: pointer;
            border-radius: 30px;
            text-align: center;
            justify-content: center;
            align-items: center;
            letter-spacing: +.5px;
            background-image:
                linear-gradient(to right, white, white),
                $gradient;
            background-origin: border-box;
            background-clip: padding-box, border-box;
            border: 1px solid transparent;
        }

        .popup__button-submit:hover {
            background-image: $gradient;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.9);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}