.header {
    display: flex;
    justify-content: space-between;
    background-color: #0F0F17;
    padding: 21px 0 14px 0;
    position: relative;
    border-bottom: 1px solid rgb(59, 58, 58);
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.header__nav {
    display: flex;
    gap: 45px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 0 0 0 0;
    justify-content: space-between;
}

.header__logo {
    width: 70px;
    height: 84px;
    margin: 0 0 0 40px;
    padding: 0;
    opacity: 1;
    z-index: 200;
    transition: opacity .3s;
    transition-timing-function: ease;
    background-image: url(../../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.header__nav-links {
    display: flex;
    gap: 36px;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-left: 136px;
    scroll-behavior: smooth;
}

.header__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: white;
    padding: 0;
    margin: 0;
}

.header__nav-link:hover {
    opacity: 0.8;
}

.header__nav-link.active {
    background: linear-gradient(#ff6b6b, #ffc947);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__authbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__btn {
    display: flex;
    position: relative;
    z-index: 200;
    width: 181px;
    height: 45px;
    margin: 0 39px 0 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: +0.6px;
    background-image:
        linear-gradient(to right, black, black),
        linear-gradient(to right, #FB8627, #F5BEF6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 1px solid transparent;
}

.header__btn:hover {
    background-image:
        linear-gradient(to right, #FB8627, #F5BEF6);
}

/* EXPANDED */

.header__expand-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header__element-before {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__element-before {
    display: flex;
    margin: 0;
    padding: 0;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin: 0 0 0px 8px;
    padding: 0;
    width: 8.7px;
    height: 8.7px;
}

.expanded .arrow {
    transform: rotate(90deg);
}

.toggle {
    cursor: pointer;
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}

.expanded-menu {
    max-height: 0px;
    /* overflow: hidden; */
    /* transition: max-height 0.4s ease-in-out; */
    padding: 0;
    /* display: block; */
    margin-top: 0px;
    width: 100%;
    top: 100%;
    height: 150px;
    background-color: rgb(8, 8, 8);
    position: absolute;
    border: transparent;
    z-index: 999;
}

.header__aboutus {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-right: 128px;
}

.header__aboutus-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 13px;
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.overlay-line {
    border-bottom: 1px solid transparent;
}

.z-index {
    z-index: 200;
}


@media screen and (max-width: 320px) {

    .header {
        padding: 20px 10px 10px;
    }

    .header__logo {
        width: 44px;
        height: 53px;
        margin: 0;
        padding: 0;
    }

    .header__nav-links {
        display: none;
    }

    .header__btn {
        display: none;
    }

}