.SubscribeSection {
	display: flex;
	padding: 80px 40px 78px;
	margin: 0;
	justify-content: space-between;
	color: black;
	background-color: white;
}

.subscribe__info {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	gap: 20px;
}

.subscribe__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 44px;
	padding: 0;
	margin: 0;
}

.subscribe__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20.8px;
	padding: 0;
	margin: 0;
	max-width: 650px;
}

.subscribe__form {
	display: flex;
	flex-direction: column;
}

.subscrive__form-inputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 0;
	padding: 0;
}

.input {
	padding: 0 0 0 15px;
	width: 423px;
	height: 49px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	border: 1px #0F0F17 solid;
	margin: 0;
	letter-spacing: +.5px;
	display: flex;
	flex-direction: column;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong::placeholder {
	color: #ff0909;
}

.inputWrong:focus {
	outline-color: #ff0909;
}

.error {
	color: #ff0909;
	padding: 0;
	margin: 0 0 0 15px;
}



.checkbox__container {
	display: flex;
	padding: 0;
	margin: 15px 0 0 0;
	align-items: center;
}

.checkbox__caption {
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 12px;
	line-height: 15.6px;
	font-weight: 500;
}

/* чекбокс */
.custom-checkbox {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
}

.custom-checkbox input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.custom-checkbox .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	background-image: url('../../images/icons/checkbox.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
	background-image: url('../../images/icons/checkbox-active.svg');
}

.mainBtn {
	display: flex;
	position: relative;
	width: 145px;
	height: 45px;
	margin: 30px 0 0 0;
	padding: 12px 20px;
	color: #0F0F17;
	text-decoration: none;
	font-weight: 520;
	font-size: 16px;
	line-height: 20.8px;
	cursor: pointer;
	border-radius: 30px;
	text-align: center;
	justify-content: center;
	align-items: center;
	letter-spacing: +.5px;
	background-image:
		linear-gradient(to right, white, white),
		linear-gradient(to right, #FB8627, #F5BEF6);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	border: 1px solid transparent;
}

.mainBtn:hover {
	background-image:
		linear-gradient(to right, #FB8627, #F5BEF6);
}


@media screen and (max-width: 320px) {

	.SubscribeSection {
		display: flex;
		flex-direction: column;
		padding: 40px 10px;
	}

	.subscribe__info {
		display: flex;
		flex-direction: column;
		max-width: 320px;
		gap: 20px;
	}
	
	.subscribe__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 26.4px;
		padding: 0;
		margin: 0 0 30px 0;
		letter-spacing: -.2px;
	}

	.subscribe__text {
		display: none;
	}

	.subscrive__form-inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.input {
		padding: 0 0 0 15px;
		width: 283px;
		height: 49px;
		letter-spacing: +.3px;
	}

	.error {
		font-size: 10px;
	}

	.subscrive__form-inputs {
		display: flex;
		flex-direction: column;
	}

	.checkbox__container {
		display: flex;
		padding: 0;
		margin: 4px 0 0 0;
		align-items: center;
	}

	.checkbox__caption {
		margin: 10px 0 0 15px;
		letter-spacing: -.1px;
	}

	.mainBtn {
		margin: 31px 0 0 0;
	}
}