.footer {
    display: flex;
    padding: 40px 42px 40px 40px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    background: linear-gradient(#FB8627, #F5BEF6);
    box-sizing: border-box;
}

.footer__logobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer__logo {
    width: 103px;
    height: 124px;
    margin: 0 0 20px 0;
    padding: 0;
    opacity: 1;
    transition: opacity .3s;
    transition-timing-function: ease;
    background-image: url(/public/images/icons/logoWhite.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__links {
    display: flex;
    gap: 16px;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer__link {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link-yt {
    background-image: url(/public/images/icons/yt.svg);
}

.footer__link-tg {
    background-image: url(/public/images/icons/tg.svg);
}

.footer__link-vk {
    background-image: url(/public/images/icons/vk.svg);
}

.footer__navlinks {
    display: flex;
    gap: 161px;
    margin: 0 28px 0 0;
}

.footer__navlinks-line {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: white;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 50px 0 0;
    text-align: start;
    gap: 15px;
}

.footer__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 320px) {

	.footer {
        padding: 30px 10px 40px;
        margin: 0;
        flex-direction: column;
    }

    .footer__logobox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__logo {
        width: 70px;
        height: 84px;
    }

    .footer__navlinks {
        display: flex;
        gap: 86px;
        margin: 10px 28px 41px 0;
    }



}

